.mainArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

.renderBox {
	background-color: white;
	box-shadow: 3px 3px 12px rgb(0, 0, 0, 0.1);
	width: 80vh;
	max-height: 80vw;
	aspect-ratio: 1 / 1;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainSvg {
	width: 80%;
}

.download {
	top: 20px;
	right: 20px;
	position: fixed;
	width: 30px;
	height: 30px;
}

.download:hover {
	cursor: pointer;
}
